.header {
  height: 80px;
  padding: 5px;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.logo-container {
  width: 30%;
  display: flex;
  align-items: center;
}

.logo-title {
  font-size: 1.2em;
}

.nav-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  z-index: -1;
  top: 60px;
  left: 0;
  background-color: white;
  /* animation */
  transform: translateY(-100%);
  transition: all ease 0.5s;
}

.show-menu {
  transform: translateY(0);
  transition: all ease 0.5s;
}

.nav-list li {
  padding: 10px;
}

.header button.navbar {
  margin-left: -50px;
}
