:root {
  font-family: 'Roboto', sans-serif;
  --amarelo: #F2C94C;
  --bege: #FCEDC6;
  --branco-limao: #EFF7F2;
  --preto: #0B0706;
  --chumbo: #1D2130;
  --cinza: #525560;
  --branco: #EBF0F9;
  --gelo: #E5E5E5;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}