* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --amarelo: #F2C94C;
  --bege: #FCEDC6;
  --branco-limao: #EFF7F2;
  --preto: #0B0706;
  --chumbo: #1D2130;
  --cinza: #525560;
  --branco: #EBF0F9;
  --gelo: #E5E5E5;
}

html, body {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #FEFDFC;
}

button {
  cursor: pointer;
  border: none;
  color: black;
  width: 115px;
  height: 40px;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 5px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

::-webkit-scrollbar {
  background-color: rgb(55, 55, 55);
  height: 15px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ebebeb;
  border-radius: 5px;
}

.animate__animated {
  opacity: 0;
}